<center>
	<table width=80%" border=0>
		<tr>
			<td>
				This plugin has downloaded all Icons from <a href="https://configurator.loxone.com/" target="_blank">Loxone's Touch Pure Flex Configurator </a>and created an ZIP archive which
				you can download from here.<br><br>
				<b>Note! All Icons are (c) by Loxone! We do not include any Icons here in the plugin - they are downloaded from Loxone's public website during installation.<br>
				Use them in your Loxone projects, but respect the copyright and do not use them anywhere else.</b>
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Download:<br><br>
				<a class="ui-btn" href="/admin/system/tools/filemanager/filemanager.php?p=data%2Fplugins%2F<TMPL_VAR PLUGINNAME>" target="_blank">
					Open LoxBerry's FileManager</a>
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td align=center>
				<i>After you have downloaded the icon archive, you can delete this plugin from your LoxBerry to save space - it has no other function.</i>
			</td>
		</tr>
	</table>

